div  
    div.modal-body
        h1 {{course.name}}
        .col-md-6
          h3 Featured {{course.name}}
          h3 Published on {{course.created | date}}
    
        .col-md-6
          .panel.panel-primary
            .panel-heading Tags
            .panel-body
              {{course.language}}
    div.modal-footer
      .col-md-6
        button.btn.btn-primary(type="button", ng-click="cancel()") Back to Course  
    