.container(ng-controller="courseCtrl")
    .jumbotron
        a(href="/add/course") Add Course
        
        form.form-inline(style="float:right;")
            div.form-group
              input(ng-model="searchText", placeholder="FIlter")
            div.form-group
              select(ng-model="sortOrder", ng-options="item.value as item.text for item in sortOptions")
        table.table.table-hover
            thead
                tr
                    th Course Name
                    th Published Date
                    th Tag 
                    th 
                        a(href="#") Edit
            tbody
                tr(ng-repeat="course in courses | filter: searchText | orderBy : sortOrder")
                    th 
                        a(href="/course/{{course._id}}") {{course.name}}
                    th {{course.created | date}}
                    th {{course.language}}
                    th 
                        a(href="/{{course._id}}/edit") edit
        
           