div
    div.modal-header
        button(type="button", class="close", data-dismiss="modal" ng-click="cancel()")&times;
        h3 Delete Course
    div.modal-body
        h3 Are sure you want to delete the course "{{courses.name}}"?
    div.modal-footer
        button.btn.btn-primary(ng-click="delete(index)", style="margin:10px;background-color: red;") 
            span.glyphicon.glyphicon-trash
        button.btn.btn-primary(type="button", ng-click="cancel()") Back to Course