.container(ng-controller="courseCtrl")
    div.page-header
        h2 Course
    .jumbotron
        a(href="/add/course")
            span.glyphicon.glyphicon-plus  Add Course
        h3 There are {{courses.length}} courses here.
        div.loader
        form.form-inline(style="float:right;")
            div.form-group
              input.form-control(ng-model="searchText.language", placeholder="FIlter by Tag")
            div.form-group
              select.form-control(ng-model="sortOrder", ng-options="item.value as item.text for item in sortOptions")
        div(infinite-scroll="coursePagination()", infinite-scroll-distance="0.1")
            table.table.table-hover
                thead
                    tr
                        th Course Name
                        th Published Date
                        th Tag 
                        th Edit
                        th Delete
                tbody
                    tr(ng-repeat="course in courses | filter: searchText | orderBy : sortOrder track by $index")
                        th 
                            a(ng-click="showCourse(course, $event)") {{course.name}}
                        th {{course.created | date}}
                        th {{course.language}}
                        th 
                            a.btn(href="/course/{{course._id}}/edit")
                                span.glyphicon.glyphicon-pencil
                                span edit
                        th 
                            button.btn
                                a(ng-click="delete(course, $index)") delete