extends ../includes/layout

block main-content
  .navbar.navbar-inverse
    .container-fluid
      .navbar-header
        a.navbar-brand(href="/") Cloud Nine9
        ul.nav.navbar-nav
          li
            a(href="/") Home
          li
            a(href="/product") Product
          li
            a(href="/filter") Filter use
          li
            a(href="/contact") Contact Us
          li
        div.login-form(ng-include="'/partials/main/user/account'")
  section.content
    div(ng-view)
    h2= mongoMessage
  foooter.container.text-center
   p#footer &copy; 2015 
    a(href="https://nodejs-raju-singh-3.c9.io/") Nodejs-raju-singh-3.c9.io