extends ../includes/layout

block main-content
  div.login-form(ng-include="'/partials/main/nav/nav'")
  section.content
    div(ng-view)
    h2= mongoTodo
  foooter.container.text-center
   p#footer &copy; 2015 
    a(href="https://nodejs-raju-singh-3.c9.io/") Nodejs-raju-singh-3.c9.io