.container
  div#slideshow(ng-controller="slideShow", data-role="listbox")
      carousel(interval="myInterval", no-wrap="noWrapSlides")
        slide(ng-repeat="slide in slides",active="slide.active")
          img(ng-src="{{slide.image}}", height="50px", width="60px")
       // a.arrow.prev(ng-click="slide_prev()") 
        //a.arrow.next(ng-click="slide_next()") 
      br
      p(style="text-align:center;") Click on the image to see full image..