.navbar-right
    form.navbar-form
        .form-group
             input.form-control(type="email", ng-model="email", placeholder="Email")
        .form-group
            input.form-control(type="password", ng-model="pass", placeholder="Password")
        .form-group
            button.form-control.btn.btn-primary(ng-click="submit()") LogIn