.container
    .jumbotron
        .row
           div(ng-include="'/partials/main/slideshow/slideshow'")
         hr
        .row
            .col-lg-6
              p.
                Lorem ipsum dolor sit amet, diam lucilius temporibus ut cum, et ceteros scribentur mea, mea te tempor intellegat.
                Nibh postea tibique ea mei, id sit quidam ornatus, per te nostrud incorrupte. Ei per dicta error eloquentiam. Ex mel nostro docendi epicuri, oratio tibique cu vel. Ne est aeterno iracundia consectetuer, ex nec case idque nusquam, utroque constituto concludaturque vis ne. An nam autem timeam, id iudico feugait accumsan pro.
            
            .col-lg-6
                p.
                     Lorem ipsum dolor sit amet, diam lucilius temporibus ut cum, et ceteros scribentur mea, mea te tempor intellegat.
                     Nibh postea tibique ea mei, id sit quidam ornatus, per te nostrud incorrupte. Ei per dicta error eloquentiam. Ex mel nostro docendi epicuri, oratio tibique cu vel. Ne est aeterno iracundia consectetuer, ex nec case idque nusquam, utroque constituto concludaturque vis ne. An nam autem timeam, id iudico feugait accumsan pro.
        