.navbar-right(ng-controller="signIn")
    form.navbar-form
        .form-group
             input.form-control(type="email", ng-model="username", placeholder="Email")
        .form-group
            input.form-control(type="password", ng-model="password", placeholder="Password")
        .form-group
            button.form-control.btn.btn-primary(ng-click="signIn(username, password)") LogIn