.container
    .row
        .center-form.panel
            .panel-body(ng-controller="signinCtrl")            
                form.form-horizontal(method="post", ng-submit="signup()", name="signupForm")
                    .col-md-4.col-md-push-4
                        h2.text-center Sign up
                        .form-group
                            input.form-control.input-lg(type="text", id="userName", ng-keyup="checkUser()" name="userName", ng-model="userName", placeholder="Username", required, autofocus)
                            .help-block.text-danger(ng-if="signupForm.userName.$dirty", ng-messages="signupForm.userName.$error")
                                div(ng-message="required") Your Username address is required.
                                div(ng-message="userName") Your Username address is invalid.
                        .form-group
                            input.form-control.input-lg(type="email", id="email", name="email", ng-model="email", placeholder="Email", required, autofocus)
                            .help-block.text-danger(ng-if="signupForm.email.$dirty", ng-messages="signupForm.email.$error")
                                div(ng-message="required") Your email address is required.
                                div(ng-message="email") Your email address is invalid.
                        .form-group
                            input.form-control.input-lg(type="password", ng-model="password", placeholder="Password", required)
                            .help-block.text-danger(ng-if="signupForm.password.$dirty", ng-messages="signupForm.password.$error")
                                div(ng-message="required") Password is required.
                        .form-group
                            input.form-control.input-lg(type="password",ng-keyup="compare(password, confirmpassword)", id="confirmpassword", name="confirmpassword", repeat-password="password", ng-model="confirmpassword", placeholder="confirm password", required)
                            .help-block.text-danger.my-special-animation(ng-if="signupForm.confirmPassword.$dirty", ng-messages="signupForm.confirmPassword.$error")
                                div(ng-message="required") You must confirm password.
                                div(ng-message="repeat") Passwords do not match.
                        div.alert.alert-info(ng-if="confirmpassword") 
                            span.glyphicon.glyphicon-ok
                            {{var}}
                        .form-group       
                            button.btn.btn-lg.btn-success(type="submit", ng-disabled="signupForm.$invalid")
                                i.glyphicon.glyphicon-user   Create New Account
                                    