.container
  div.node-header
    h2 Custom
  .jumbotron
    .row.profile-header(style="background-color: #19D1A3; color: #fff;")
            .col-lg-12
                h2(style="text-align: center;") Take a moment to provide the information below, so we can personalize your experience
    .row
      .col-lg-4
        .well
          p.
            gdfgfdgdfgdfgdfgdfgdf
      .col-lg-8
        .well
          h6 {{data.scopePropertyAsUsual}}
          h2 Demo Value : {{demo}}
          h3 Demo Constant : {{demoConstant}}
        div.well
          my-custom-element(name="{{ratings.name}}", street="ratings.street", click="clickData()")
        .well
          div(ng-repeat="image in images")  
            user(username="huseyinbabal", avatar="{{image.src}}", reputation="8012")
          img.well(ng-repeat="image in images", src="{{image.src}}", style="margin:10px;") 
          div(link-directive, text="Lovely") Read More...
          div(link-directive, text="Wonderful") Read More...
          a(link-directive, text="Awesome") Read More...