.container
  div.node-header
        h2 Contact Us
  .jumbotron
    .row
      .col-lg-4
        .well
          p.
              Fill your details in the attached form at the right side to contact us. Reply will be sent to you as soon as possible.
              Thank you.
      .col-lg-8
        .well
          form.form-horizontal(novalidate, role="form", name="contactForm")
            .form-group
              label.col-lg-4.control-label First Name:
              .col-lg-8
                input.form-control(type="text", ng-model="firstName")
            .form-group
              label.col-lg-4.control-label Last Name:
              .col-lg-8
                input.form-control(type="text", ng-model="lastName")
            .form-group
              label.col-lg-4.control-label Organisation Name:
              .col-lg-8
                  input.form-control(type="text", ng-model="organisation")
            .form-group
              label.col-lg-4.control-label Email address:
              .col-lg-8
                input.form-control(type="email", validatemail, ng-model="email")
            .form-group
              label.col-lg-4.control-label Date of Birth:
              .col-lg-8
                input.form-control(type="date", ng-model="date")
            .form-group
              label.col-lg-4.control-label Address:
              .col-lg-8
                input.form-control(type="textarea", ng-model="address")
            .form-group
              label.col-lg-4.control-label Address:
              .col-lg-8
                text-angular(ng-model="htmlVariable")
            .form-group.col-lg-8.col-lg-push-6
              button.btn.btn-primary(ng-click="contact_send()") Submit