doctype
html
    head 
        title Angular
        link(href="/favicon.ico", rel="shortcut icon" type="image/x-icon")
        link( rel="stylesheet", href="/css/bootstrap.css",)
        link( rel="stylesheet", href="/filez/toaster/toaster.css",)
        link( rel="stylesheet", href="/css/node.css",)
        link( rel="stylesheet", href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    body(ng-app="myApp")
         block main-content
         include script
