doctype
html
    head 
        title Angular
        link(href="/favicon.ico", rel="shortcut icon" type="image/x-icon")
        link( rel="stylesheet", href="/css/bootstrap.css",)
        link( rel="stylesheet", href="/filez/toaster/toaster.css",)
        link( rel="stylesheet", href="/filez/angular-bootstrap/ui-bootstrap-csp.css",)
        link( rel="stylesheet", href="/css/node.css",)
        link( rel="stylesheet", href="/filez/font-awesome/css/font-awesome.css")
        link( rel="stylesheet", href="/filez/font-awesome/css/font-awesome.min.css")
        link( rel="stylesheet", href="/filez/angular-bootstrap/ui-bootstrap-csp.css")
        link( rel="stylesheet", href="/filez/angular-loading-bar/build/loading-bar.min.css")
        link( rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    body(style="background-color:#108a93;", ng-app="myApp")
         block main-content
         include script
