script(type="text/javascript", src="/filez/jquery/dist/jquery.js")
script(type="text/javascript", src="/filez/angular/angular.js")
script(type="text/javascript", src="/filez/angular-resource/angular-resource.js")
script(type="text/javascript", src="/filez/angular-route/angular-route.js")
script(type="text/javascript", src="/filez/angular-bootstrap/ui-bootstrap-tpls.js")
script(type="text/javascript", src="/filez/angular-animate/angular-animate.js")
script(type="text/javascript", src="/filez/flow.js/dist/flow.js")
script(type="text/javascript", src="/filez/ng-flow/dist/ng-flow-standalone.js")
script(type="text/javascript", src="/filez/ng-flow/dist/ng-flow.js")
script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/custom.js")
script(type="text/javascript", src="/app/main/aboutus/aboutUs.js")
script(type="text/javascript", src="/app/main/product/product.js")
script(type="text/javascript", src="/app/main/user/signIn.js")
script(type="text/javascript", src="/app/main/slideshow/slideshow.js")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
script(type="text/javascript", src="/app/main/product/product.js")

