script(type="text/javascript", src="/filez/jquery/dist/jquery.js")
script(type="text/javascript", src="/filez/fusioncharts.js")
script(type="text/javascript", src="/filez/angular/angular.js")
script(type="text/javascript", src="/filez/angular-resource/angular-resource.js")
script(type="text/javascript", src="/filez/angular-route/angular-route.js")
script(type="text/javascript", src="/filez/angular-bootstrap/ui-bootstrap-tpls.js")
script(type="text/javascript", src="/filez/angular-animate/angular-animate.js")
script(type="text/javascript", src="/filez/angular-animate/angular-animate.min.js")
script(type="text/javascript", src="/filez/angular-cookies/angular-cookies.js")
script(type="text/javascript", src="/filez/angular-strap/dist/angular-strap.js")
script(type="text/javascript", src="/filez/angular-strap/dist/angular-strap.tpl.js")
script(type="text/javascript", src="/filez/angular-utils-pagination/dirPagination.js")
script(type="text/javascript", src="/filez/ng-file-upload/ng-file-upload-shim.js")
script(type="text/javascript", src="/filez/ng-file-upload/ng-file-upload.js")
script(type="text/javascript", src="/filez/ngstorage/ngStorage.min.js")
script(type="text/javascript", src="/filez/angular-jwt/dist/angular-jwt.js")
script(type="text/javascript", src="/filez/angular-fusioncharts/dist/angular-fusioncharts.min.js")


script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/main/slider/slider.js")
script(type="text/javascript", src="/app/main/contact-us/contact.js")
script(type="text/javascript", src="/app/main/aboutus/aboutUs.js")
script(type="text/javascript", src="/app/main/product/product.js")
script(type="text/javascript", src="/app/main/user/login.js")
script(type="text/javascript", src="/app/main/course/coursePager.js")
script(type="text/javascript", src="/app/main/course/course.js")
script(type="text/javascript", src="/app/main/nav/nav.js")
script(type="text/javascript", src="/app/main/course/mvCourse.js")
script(type="text/javascript", src="/app/main/profile/profile.js")
script(type="text/javascript", src="/app/main/custom/custom.js")
script(type="text/javascript", src="/app/main/search/search.js")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
//script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
script(type="text/javascript", src="/app/main/product/product.js")

