.container(ng-controller="productCtrl")
    .jumbotron
        .row
            .col-lg-12
                table.table.table-striped
                    thead
                        tr
                            th Product Name
                            th Product Id
                            th Description
                            th Price
                            th Votes
                    tbody
                        tr(ng-repeat="product in products | orderBy:'pid'")
                            th {{product.name}}
                            th {{product.pid}}
                            th {{product.desc}}
                            th {{product.price | currency}}
                            th
                                span.increment(ng-click="incrementUpvotes(product)")
                                 {{product.upvotes}} 
                                span.decrement(ng-click="decrementUpvotes(product)") 
    .jumbotron 
        button.btn.btn-primary(data-toggle="collapse" data-target="#form-add") Add Product Items
        br
        br
        br
        form#form-add.form-horizontal.collapse(novalidate, role="form")
              div.form-group
                p Product Name : 
                    input(type="text", ng-model="pName")
              div.form-group
                p Product Id:
                    input(type="text", ng-model="pid")
              div.form-group
                p Prodyct Description:
                    input(type="text", ng-model="pDesc" )
              div.form-group
                p Product Price:
                    input(ng-model="pPrice")
              div.form-group
                button.btn.btn-primary(type="submit",  ng-click="addproduct()") Save
    
    