.container(ng-controller="productCtrl")
    .jumbotron
        .row
            .col-lg-12
                a.btn.btn-primary(ng-click="addproduct($event)") Add Product Items
                table.table.table-striped
                    thead
                        tr
                            th Product Name
                            th Product Id
                            th Description
                            th Price
                            th Votes
                    tbody
                        tr(ng-repeat="product in products | orderBy:'pid'")
                            th {{product.name}}
                            th {{product.pid}}
                            th {{product.desc}}
                            th {{product.price | currency}}
                            th
                                span.increment(ng-click="incrementUpvotes(product)")
                                {{product.upvotes}} 
                                span.decrement(ng-click="decrementUpvotes(product)") 

        
    
    